<footer th:fragment="footer">

    <script type="text/javascript" th:src="@{/js/base/jquery.base.js}"></script>
    <script type="text/javascript" th:src="@{/js/base/jqueryui.js}"></script>
    <script type="text/javascript" th:src="@{/js/base/jqGrid.js}"></script>
    <script type="text/javascript" th:src="@{/js/base/validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/base/jquery.ztree.all-3.5.js}"></script>
    <script type="text/javascript" th:src="@{/js/base/echarts-3.0.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/dialog.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/gridUtil.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/formValidate.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/widget.js}"></script>
    <script type="text/javascript" th:src="@{/js/libs/base.js}"></script>
</footer>



